@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/kapakana');

:root {
    --primary-padding: clamp(1.5em, 4vw, 2.5em);
    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --container-padding: 6vw;
    --section-padding: clamp(5em, 21vh, 12em);
    --margin-button: 21px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-family: "Montserrat", sans-serif;
}

html {
    overflow: hidden;
}

body {
    height: 100dvh;
    background: linear-gradient(180deg, #CA7640 0%, #2F3035 100%);
}

.main-wrapper {
    width: 100%;
    height: 100%;
    display:  inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top .name {
    color: #FFFFFF;
    margin-top: calc(var(--margin-button)/1.5);
    ;
}

.top .description {
    color: #E1D3D1;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.profile {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    background-image: url('assets/liilperfil.png');
    background-size: cover;
}


.social-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.social-links a {
    width: 400px;
    height: 50px;
    padding: 10px;
    border: 0px;
    border-radius: 25px;
    background-color: #F2E6C0;
    color: #5C2A13;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    /* Espaçamento entre o ícone e o texto */
    position: relative;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}

.social-links a:hover {
    scale: 1.02;
}

.social-links button p {
    text-align: center;
    margin: 0;
}

.social-links a img {
    height: 20px;
    width: auto;
    position: absolute;
    left: 50px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-buttons {
    width: 210px;
    height: auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.social-buttons a:hover{ 
    scale: 1.1;
}

.social-buttons img {
    width: 35px;
    height: 35px;
}

.ruido img {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    mix-blend-mode: soft-light;
    background-size: contain;
    opacity: 10%;
}

.location {
    text-align: center;
    color: white;
}

.location svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.location .local {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


@media screen and (max-width: 427px) {
    .main-wrapper {
        padding: 20px;
    }

    .social-links a {
        width: 100%;
        height: 50px;
    }
}

@media screen and (max-width: 383px) {
    .social-links a img {
        left: 20px;
    }
}

@media screen and (max-width: 311px) {
    .social-links a img {
        display: none;
    }
}