body {
    background-color: rgb(0, 0, 0);
}

body, html {
    height: 100dvh;
    margin: 0;
    overflow: hidden;
}

* {
    
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

form {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.16);
    padding: 50px 35px;
}


form * {
    color: white;
    letter-spacing: .5px;
    outline: none;
    border: none;
}

label {
    display: block;
    margin-top: 30px;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
        
}

.button {
    margin-top: 50px;
    width: 100%;
    background-color: white;
    color: #080710;
    padding: 15px 0;
    cursor: pointer;
}


::placeholder {
    color: #e5e5e5;
}